@{
    Layout = "_Layout";
}

<!-- Trip details Screen -->
<section class="main-section trip-details-general" id="trip-Cource-section">
    <div class="trip-screen-row">
        <div class="trip-screen-col">
            <div class="trip-details-header">
                <h3>Course 11142 pour stefan..</h3>
                <button class="btn btn-outline-blue">Back</button>
            </div>
        </div>
        <div class="trip-screen-col">
            <div class="main-tabs">
                <ul class="trip-tabs-nav3 scroll-bar tabs-blk">
                    <li>
                        <a href="#main-tab1">
                            <span>Detail de la cource</span>
                        </a>
                    </li>
                    <li>
                        <a href="#main-tab2">
                            <span>Etapes</span>
                        </a>
                    </li>
                    <li>
                        <a href="#main-tab3">
                            <span>Suivi</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="main-tab1" class="trip-tab-content3">
                <div class="trip-details-tab">
                    <h3>Details</h3>
                    <div class="trip-tab-row">
                        <div class="trip-tab-col">
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Statut</span>
                                </div>
                                <input type="text">
                            </div>
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Service externe</span>
                                </div>
                                <input type="text">
                            </div>
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Chauffeur</span>
                                    <img class="icon-img m-l-10" src="./img/circle-outline.png" alt="Info">
                                </div>
                                <h4>Aucun</h4>
                            </div>
                        </div>
                        <div class="trip-tab-col">
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Hors politique</span>
                                </div>
                                <input type="text">
                            </div>
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Mode de paiment</span>
                                </div>
                                <select name="" id="">
                                    <option value="">Select</option>
                                    <option value="">None</option>
                                    <option value="">None</option>
                                    <option value="">None</option>
                                </select>
                            </div>
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Vehicule</span>
                                </div>
                                <select name="" id="">
                                    <option value="">Select</option>
                                    <option value="">None</option>
                                    <option value="">None</option>
                                    <option value="">None</option>
                                </select>
                            </div>
                        </div>
                        <div class="trip-tab-col">
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Type de vol</span>
                                </div>
                                <select name="" id="">
                                    <option value="">Select</option>
                                    <option value="">None</option>
                                    <option value="">None</option>
                                    <option value="">None</option>
                                </select>
                            </div>
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Date de transmission</span>
                                </div>
                                <input type="text">
                            </div>
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Demandeur</span>
                                    <img class="icon-img m-l-10" src="./img/circle-outline.png" alt="Info">
                                </div>
                                <h4>Anantha Chandrashekar</h4>
                            </div>
                        </div>
                        <div class="trip-tab-col">
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Date du vol</span>
                                </div>
                                <div class="date-time-fields">
                                    <input type="date">
                                    <input type="time">
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Refference externe</span>
                                </div>
                                <input type="text">
                            </div>
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Passanger prinicipal</span>
                                    <img class="icon-img m-l-10" src="./img/circle-outline.png" alt="Info">
                                </div>
                                <div class="input-modifier">
                                    <h4>Agostini Stefano</h4>
                                    <button class="btn btn-outline-gray">Modifier</button>
                                </div>
                            </div>
                        </div>
                        <div class="trip-tab-col">
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Numero du vol</span>
                                </div>
                                <input type="text">
                            </div>
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Debut de la course</span>
                                </div>
                                <div class="date-time-fields">
                                    <input type="date">
                                    <input type="time">
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Centre de cout</span>
                                    <img class="icon-img m-l-10" src="./img/circle-outline.png" alt="Info">
                                </div>
                                <div class="input-modifier">
                                    <h4>0104391103 ZEUR.Conf.Ex.Mgmt.R</h4>
                                    <button class="btn btn-outline-gray">Modifier</button>
                                </div>
                            </div>
                        </div>
                        <div class="trip-tab-col">
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Nom predefini</span>
                                </div>
                                <input type="text">
                            </div>
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Fin de la course</span>
                                </div>
                                <div class="date-time-fields">
                                    <input type="date">
                                    <input type="time">
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="input-header">
                                    <span>Options</span>
                                </div>
                                <div class="input-modifier checks">
                                    <div class="check-wrapper">
                                        <input type="checkbox" class="check-box" id="option-trip1">
                                        <label for="option-trip1">Confidential</label>
                                    </div>
                                    <div class="check-wrapper">
                                        <input type="checkbox" class="check-box" id="option-trip2">
                                        <label for="option-trip2">Alert les passangers</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="trip-tab-col">
                            <div class="input-container col-50">
                                <div class="input-header">
                                    <h4>Commentaires</h4>
                                </div>
                                <textarea name="" cols="30" rows="10"></textarea>
                            </div>
                            <div class="input-container col-50">
                                <div class="input-header">
                                    <h4>Itineraire</h4>
                                </div>
                                <textarea name="" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="trip-tab-col bt">
                            <button class="btn btn-yellow m-r-10">Enregister</button>
                            <button class="btn btn-outline-yellow">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main-tab2" class="trip-tab-content3">
                <div class="tab-trip-container">
                    <h3>Trip Details</h3>
                    <div class="trip-info-row scroll-bar">
                        <div class="trip-final-details">
                            <div class="trip-final-details-col">
                                <div class="trip-header">
                                    <div class="trip-to">
                                        <h4>Trip step 1</h4>
                                        <img class="icon-img m-r-10 m-l-10" src="./img/flight-land.png" alt="Flight">
                                        <h4>6E-2345</h4>
                                    </div>
                                    <div class="trip-edit">
                                        <button class="btn btn-outline-gray m-r-10"><img class="icon-img m-r-10" src="./img/edit.png" alt="Edit"><span>Modifier</span></button>
                                        <button class="btn btn-outline-red"><img class="icon-img m-r-10" src="./img/Close.png" alt="Close"><span>Delete</span></button>
                                    </div>
                                </div>
                                <div class="trip-final-list-col">
                                    <div class="trip-loc">
                                        <img class="icon-large-img m-r-10" src="./img/location-on-blue.png" alt="Location">
                                        <div class="trip-loc-col">
                                            <span>21.06.2023 19:00</span>
                                            <span>Aeroport Blencherette, Avenue du Grey 117, 1018 Lausanne, SUisse.</span>
                                        </div>
                                    </div>
                                    <div class="trip-loc direction"><img class="icon-large-img m-r-10" src="./img/arrow-back.png" alt="To"></div>
                                    <div class="trip-loc">
                                        <img class="icon-large-img m-r-10" src="./img/location-on-green.png" alt="Location">
                                        <div class="trip-loc-col">
                                            <span>21.06.2023 19:00</span>
                                            <span>Aeroport Blencherette, Avenue du Grey 117, 1018 Lausanne, SUisse.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="trip-final-list-col">
                                    <div class="passenger-list-row">
                                        <h4>Passengers</h4>
                                        <div class="trip-final-list-col">
                                            <div class="trip-user">
                                                <img class="icon-large-img m-r-10" src="./img/user-alt-black.png" alt="User">
                                                <div class="trip-user-col">
                                                    <span>Abdul Malak Yassar </span>
                                                    <span>+41 79 240-9189 </span>
                                                </div>
                                            </div>
                                            <div class="trip-user">
                                                <img class="icon-large-img m-r-10" src="./img/user-alt-black.png" alt="User">
                                                <div class="trip-user-col">
                                                    <span>Aboutboul Serena</span>
                                                    <span>+41 79 150-9188</span>
                                                </div>
                                            </div>
                                            <div class="trip-user">
                                                <img class="icon-large-img m-r-10" src="./img/user-alt-black.png" alt="User">
                                                <div class="trip-user-col">
                                                    <span>Aderbauer Ferran</span>
                                                    <span>+41 78 260-8154</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="trip-final-details-col">
                                <div class="trip-header">
                                    <div class="trip-to">
                                        <h4>Trip step 2</h4>
                                    </div>
                                    <div class="trip-edit">
                                        <button class="btn btn-outline-gray m-r-10"><img class="icon-img m-r-10" src="./img/edit.png" alt="Edit"><span>Modifier</span></button>
                                        <button class="btn btn-outline-red"><img class="icon-img m-r-10" src="./img/Close.png" alt="Close"><span>Delete</span></button>
                                    </div>
                                </div>
                                <div class="trip-final-list-col">
                                    <div class="trip-loc">
                                        <img class="icon-large-img m-r-10" src="./img/location-on-blue.png" alt="Location">
                                        <div class="trip-loc-col">
                                            <span>21.06.2023 21:00 </span>
                                            <span>GareLausame, Place dela Gare, 1006 Lausanne, Suisse.</span>
                                        </div>
                                    </div>
                                    <div class="trip-loc direction"><img class="icon-large-img m-r-10" src="./img/arrow-back.png" alt="To"></div>
                                    <div class="trip-loc">
                                        <img class="icon-large-img m-r-10" src="./img/location-on-green.png" alt="Location">
                                        <div class="trip-loc-col">
                                            <span>21.06.2023 23:00</span>
                                            <span>GareFribourg, Place de la Gare, 1700 Fribourg, Suisse.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="trip-final-list-col">
                                    <div class="passenger-list-row">
                                        <h4>Passengers</h4>
                                        <div class="trip-final-list-col">
                                            <div class="trip-user">
                                                <img class="icon-large-img m-r-10" src="./img/user-alt-black.png" alt="User">
                                                <div class="trip-user-col">
                                                    <span>Abdul Malak Yassar </span>
                                                    <span>+41 79 240-9189 </span>
                                                </div>
                                            </div>
                                            <div class="trip-user">
                                                <img class="icon-large-img m-r-10" src="./img/user-alt-black.png" alt="User">
                                                <div class="trip-user-col">
                                                    <span>Aboutboul Serena</span>
                                                    <span>+41 79 150-9188</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-trip">
                    <button class="btn btn-yellow">
                        <img class="icon-img m-r-10" src="./img/add.png" alt="add">
                        <span>Add New Trip Step</span>
                    </button>
                </div>
            </div>
            <div id="main-tab3" class="trip-tab-content3">
                <div class="info-grid-row">
                    <span>Information de suivi de la course</span>
                    <div class="grid-wrapper">
                        <table id="info-grid"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trip details Screen End -->
<!-- Javascript dependency -->
<script src="./js/main.js"></script>
